.container {
    background-color: #1e232d;
    height: 50em;
    margin-left: -8px;
    width: 102%;
  }
  .container-paragraph {
    color: white;
    width: 592px;
    font-size: 28px;
    font-family: Montserrat, sans-serif;
    margin-left: 669px;
    margin-top: 14px;
  }
  .container-heading {
    font-size: 22px;
    color: #99dde8;
    font-weight: 400;
    text-align: center;
    padding-top: 288px;
    font-family: Montserrat, sans-serif;
    padding-right: 368px;
  }
  .focused1 {
    background-color: #ffd948;
    margin-top: -20px;
    height: 200px;
    width: 2051px;
    margin-left: -8px;
  }
  .design {
    padding-bottom: 404px;
    position: absolute;
    padding-left: 495px;
    width: 320px;
    margin-top: 2px;
  }
  .erop {
    position: absolute;
    margin-top: -126px;
    width: 361px;
    margin-left: -13px;
    display: block;
  }
  .eropresponsive {
    display: none;
  }
  .erop1 {
    display: none;
  }
  .european {
    text-align: center;
    font-family: montserrat;
    font-weight: 100;
    color: #463500;
  
    text-align: center;
    opacity: 0.6;
    margin-top: 18px;
    padding-top: 53px;
    padding-left: 1px;
  }
  .landon {
    margin-left: 211px;
    font-size: 18px;
    font-family: "montserrat";
  }
  .inspired {
    text-align: right;
    position: relative;
    margin-top: -126px;
    margin-right: 178px;
  }
  .inspired1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 31px;
    color: #4d3f0a;
    padding-top: 31px;
    opacity: 1;
    margin-bottom: -32px;
    line-height: 1;
    letter-spacing: 1px;
  }
  .inspired2 {
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
    color: #4d3f0a;
    opacity: 1.1;
    margin-bottom: -9px;
    line-height: 2;
  }
  .about {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #4d3f0a;
    display: block;
  }
  @media only screen and (max-width: 600px) and (min-width: 320px) {
    .container {
      background-color: #1e232d;
      height: 39em;
      margin-left: -8px;
      width: 105%;
    }
    .container-heading {
      font-size: 22px;
      color: #99dde8;
      font-weight: 500;
      text-align: center;
      padding-top: 47px;
      font-family: Montserrat, sans-serif;
      padding-right: 399px;
      width: 155px;
      padding-left: 44px;
    }
    .container-paragraph {
      color: white;
      width: 220px;
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      margin-left: 45px;
      margin-top: 14px;
      line-height: 33px;
      text-align: left;
      font-weight: 500;
    }
    .erop {
      display: none;
    }
    .eropresponsive {
      display: block;
      margin-left: -146px;
      width: 262px;
      position: absolute;
      margin-top: -68px;
    }
    .design {
      padding-bottom: 404px;
      position: absolute;
      padding-left: 11px;
      width: 298px;
      margin-top: 4px;
    }
    .focused1 {
      background-color: #ffd948;
      margin-top: -20px;
      height: 227px;
      width: 320px;
      margin-left: -8px;
    }
    .european {
      font-size: 17px;
      text-align: right;
      width: 204px;
      margin-top: 18px;
      padding-top: 10px;
      padding-left: 87px;
      font-weight: 300;
      font-family: Montserrat, sans-serif;
      opacity: 1.9;
    }
    .about {
      display: none;
    }
    .landon {
      text-align: center;
      margin-left: -122px;
      font-size: 12px;
      font-family: "montserrat";
      margin-top: -13px;
      color: #463500;
    }
    .inspired1 {
      font-size: 16px;
      margin-bottom: -8px;
      margin-top: 1px;
    }
    .inspired2 {
      font-size: 16px;
      margin-bottom: -3px;
      margin-left: 37px;
    }
    .inspired {
      text-align: right;
      position: relative;
      margin-top: -33px;
      margin-right: 44px;
      margin-left: -124px;
      line-height: 2.3;
    }
  }
  @media only screen and (max-width: 810px) and (min-width: 350px) {
    .container {
      margin-top: -140px !important;
      height: 70em;
    }
  
    .container-heading {
      margin-left: -118px;
      padding-top: 357px !important;
    }
  
    .container-paragraph {
      color: white !important;
      width: 583px !important;
      font-size: 28px !important;
      font-family: Montserrat, sans-serif;
      margin-left: 163px !important;
      margin-top: 14px !important;
      line-height: 1.5 !important;
      font-weight: 500 !important;
    }
  
    .focused1 {
      height: 188px;
    }
  
    .erop {
      display: none;
    }
  
    .erop1 {
      display: block;
      position: absolute;
      margin-top: -68px;
      margin-left: -125px;
    }
    .design {
      padding-bottom: 404px;
      position: absolute;
      padding-left: 150px;
      width: 296px;
      margin-top: 2px;
    }
    .european {
      text-align: right !important;
      font-family: montserrat !important;
      font-weight: 300 !important;
      color: #463500 !important;
      opacity: 1.4 !important;
      margin-top: 18px !important;
      padding-top: 33px !important;
      font-size: 15px !important;
      width: 276px !important;
      margin-left: 155px !important;
    }
    .landon {
      text-align: right !important;
      margin-left: -260px !important;
      font-size: 14px !important;
      font-family: "montserrat";
      float: left !important;
      font-weight: 400 !important;
      margin-top: -4px !important;
    }
    .inspired1 {
      font-family: Poppins;
      font-weight: 600 !important;
      font-size: 21px !important;
      color: #4d3f0a !important;
      padding-top: 31px !important;
      opacity: 1 !important;
      margin-bottom: -32px !important;
      line-height: 1 !important;
      letter-spacing: 0px !important;
      float: left;
      margin-top: -90px !important;
      margin-left: -212px !important;
    }
    .inspired2 {
      font-family: poppins;
      font-weight: 600 !important;
      font-size: 21px !important;
      color: #4d3f0a !important;
      opacity: 1.1 !important;
      margin-bottom: -9px !important;
      line-height: 2 !important;
      float: left !important;
      margin-left: -174px !important;
      margin-top: -20px !important;
    }
    .about {
      display: none;
    }
    .content-img {
      margin-left: 195px !important;
      margin-top: 289px !important;
      position: absolute;
      text-align: center !important;
    }
    .inspired {
      position: relative;
      margin-top: -248px;
      margin-right: 178px;
      margin-left: 234px;
      font-size: 16px !important;
      text-align: left;
    }
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
      height: 53em;
    }
    .container-heading {
      font-size: 22px;
      color: #99dde8;
      font-weight: 400;
      text-align: left;
      padding-top: 285px;
      font-family: Montserrat, sans-serif;
      padding-right: 368px;
    }
    .container-paragraph {
      color: white;
      width: 592px;
      font-size: 28px;
      font-family: Montserrat, sans-serif;
      margin-left: 157px;
      margin-top: 14px;
      line-height: 1.5;
      text-align: left;
    }
    .erop {
      display: none;
    }
    .eropresponsive {
      display: inline-block;
      margin-top: -68px;
      position: absolute;
      margin-left: -137px;
    }
    .focused1 {
      height: 191px;
    }
    .design {
      padding-bottom: 404px;
      position: absolute;
      padding-left: 211px;
      width: 320px;
      margin-top: -7px;
    }
    .european {
      font-family: montserrat;
      font-weight: 300;
      color: #463500;
      opacity: 1.2;
      margin-top: 18px;
      padding-top: 53px;
      margin-left: 189px;
      width: 375px;
      text-align: right;
      font-size: 16px;
    }
    .landon {
      text-align: left;
      font-size: 14px;
      font-family: "montserrat";
      margin-left: 397px;
      font-weight: 500;
      margin-top: -3px;
      opacity: 0.7;
    }
    .inspired {
      position: relative;
      margin-top: -248px;
      margin-right: 178px;
      margin-left: 535px;
      font-size: 16px !important;
      text-align: left;
    }
    .inspired1 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 22px;
      color: #4d3f0a;
      padding-top: 31px;
      opacity: 1;
      margin-bottom: -32px;
      line-height: 1;
      letter-spacing: 0px;
      margin-left: -10px;
    }
    .inspired2 {
      font-family: poppins;
      font-weight: 600;
      font-size: 22px;
      color: #4d3f0a;
      opacity: 1.1;
      margin-bottom: -9px;
      line-height: 3;
      margin-left: 39px;
      margin-top: 22px;
    }
    .about {
      display: none;
    }
    .content-img {
      text-align: right;
      margin-left: 413px;
    }
  }
  