/* @media screen and (max-width: 600px) and (min-width:320px)
 {
    body,html{
 overflow-x: hidden;
   } 
  
     .header
     {
        overflow: hidden;
        background-color: #FAF5F0;
        padding: 20px 17px;
        margin-left: -9px;
        width: 287px;
        margin-top: -10px;
     }
    .logomo
    {
        margin-left: 18px;
        position: absolute;
        display: inline;
        margin-top: 7px;
        width: 23px;
        
    }
    .header-right
    {
        display: none;
    }
    .header a.logo
    {
        margin-left: -7px;
        width: 156px;
    }
    .logo1
    {
        width: 143px;
    }
    #slideset1
    {
        margin-left: -8px;
        height: 34em;
        position: relative;
        background-color: #FAF5F0;
        width: 106%;
    }
    .cloud
    {
        font-family: Poppins,sans-serif;
        position: relative;
        color: #1e232d;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-left: 43px;
        margin-top: 125px;
        width: 219px;
    }
    .cloudpara
    {
      font-size: 16px;
      font-family: montserrat,sans-serif;
      text-align: center;
      margin-left: 54px;
      margin-top: 13px;
      width: 213px;
    }
    .cloud1
    {
      
     
      font-family: Poppins,sans-serif;
        position: relative;
        color: #1e232d;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-left: 43px;
        margin-top: 125px;
        width: 219px;
    }
    .cloud1para
    {
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-align: center;
        margin-left: 54px;
        margin-top: 28px;
        width: 213px;

    }
    .cloud2
    {
     
      font-family: Poppins,sans-serif;
        position: relative;
        color: #1e232d;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        margin-left: 43px;
        margin-top: 125px;
        width: 219px;
    }
    .cloud2para
    {
        font-size: 16px;
        font-family: montserrat,sans-serif;
        text-align: center;
        margin-left: 54px;
        margin-top: 21px;
        width: 213px;

    }
    .animation
    {
        display: none;
    }
    .animationresponsive
    {display: inline-block;
        width: 319px;
        position: absolute;
        margin-top: -55px;
        margin-left: -7px;
        background-color: #FAF5F0;
    }
  }
    */
